.front img{
    height: 157px;
}

.navbar{
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(193, 187, 74);
    margin-bottom: 0;
}
.navbar li {
   list-style: none;
  
    
    
}
.navbar ul{
    display: flex;
    flex-direction: row;
   

}
.navbar a{
    text-decoration: none; 
    color:#490e0e;
    font-size: 25px;

}
.navbar a:hover{
    color:rgb(255, 255, 255);
}
.navbar li a{
    padding: 10px;
}