<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-iiitbh</title>
</head>
<link rel="stylesheet" href="/stylesheet/about.css">
<body>
    <%- include("../views/partial/navbar.ejs")%>
    <div class="container">
    <h1>Indian Institute of Information Technology, Bhagalpur</h1>

    <p>Indian Institute of Information Technology, Bhagalpur (abbreviated IIIT Bhagalpur) is one of the Indian Institutes of Information Technology (IIIT), a group of institutes of Higher education in India focused on Information Technology. It was established by the Ministry of Education (MoE), formerly the Ministry of Human Resource Development, Government of India, and few industry partners as a Not-for-profit Public Private Partnership (N-PPP) Institution. IIIT Bhagalpur was declared as an Institute of National Importance (INI) in September 2020.The institute started functioning from July 2017 in a 50-acres campus at Bhagalpur College of Engineering. It was being mentored by Indian Institute of Technology Guwahati (IITG) till April 2019 when it got its own director.</p>

    <h2>History</h2>
    <p>The Government of India decided to establish new IIITs in different states in 2010, and National Screening Committee (NSC), in its second meeting on 14 March 2012, asked the Government of Bihar for a detailed project report (DPR). The proposal for IIIT Bhagalpur was passed by the NSC on 2 September 2016.

        IIIT Bhagalpur has been set up on a Public–private partnership (PPP) basis. Fifty percent of the stakes are held by Ministry of Education (MoE), Government of India, whereas thirty-five percent is held by the state government; the rest is held by industry partner Beltron.Indian Institute of Technology Guwahati (IITG) has declared as IIIT Bhagalpur's mentor institute. Pinakeswar Mahanta (director, NIT Arunachal Pradesh), the Dean Faculty Affairs at IITG was the director of IIIT Bhagalapur.Then after Dr. Saurabh Basu (retired), the dean of Outreach Education Program at IIT Guwahati was the director and now the permanent director has been selected and his name is Professor Arvind Choubey</p>

        <h2>Campus</h2>
        <p>The permanent campus of IIIT Bhagalpur will be set up on 50 acres (20 ha) of land near Bhagalpur College of Engineering (BCE),[3] and an initial budget of ₹128.53 crore (US$16 million) was allocated for the construction of the IIIT. The construction of the permanent campus is going to start from 07 October 2021 and is expected to be completed within 18 months. The IIIT building will be resistant to earthquakes and floods.[4] The state government had initially identified 100 acres (40 ha) of land in Chandi block, Nalanda district, but could not go ahead with the land acquisition due to protests from land owners.</p>

        <h2>Academics</h2>

        <p>IIIT Bhagalpur offers three B.Tech courses in Electronics and Communication Engineering, Computer Science Engineering and Mechatronics with an intake capacity of 150 students in computer science engineering 75 in electronics and communication engineering and 38 in mechatronics. The institute has started M.Tech and Ph.D. programs from August 2021</p>

        <h2>Student life</h2>
        <p>The Dining and Recreation center which is also called CAC (Common Activity Center) of the institute contains a student mess and facilities for extra co-curricular activities, such as a music room and a gymnasium.</p>

        <h2>Student council</h2>
        <p>Student Council is a main elected student body that supervises all clubs and festivals. It has a budget which the council distributes to various clubs.[9] Students can form new clubs, based on interests, after formal permission of the student council. The Student Senate is an elected student’s body, which focuses on academic many issues like hostels and mess Committee governance are a main part of the units.</p>

        <h2>Student clubs</h2>
        <p>o enhance extra-curricular activities and skills, different clubs have been formed. Student's Council is divided into 3 parts, i.e. Cultural Society, Sports Society, and Technical Society. The Technical Society includes 4 clubs i.e. AI/ML Club, Coding Club, Robotics Club, and Web Development Club. Cultural Society includes 7 clubs: Art and Craft, Dance Club, Dramatics Club, Literature Club, Music and Singing Club, Photography Club, and Quiz Club. Sports include Badminton, Volleyball, Cricket, and Athletics.</p>
    </div>
<div class="image">
    <img src="/static/iiit acadmic building.jpeg" alt="">
    <img src="/static/HOSTEL 02_0.jpg" alt="">
    <img src="/static/iiitbh hostel.jpeg" alt="">
    <img src="/static/Hackathon.jpg" alt="">
   
</div>
</body>
</html>