<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-student</title>
</head>
<link rel="stylesheet" href="/stylesheet/addstudent.css">

<body>
    <div class="add">
        <h1>Enter student details</h1>
        <div class="form">
            <form  method="post">
                <input type="text" required placeholder="enter name" name="name" id="">
                <input type="email" required placeholder="email" name="email" id="">
                <input type="password" required placeholder="password" name="password" id="">
                <input type="text" required placeholder="roll number" name="roll" id="">
                <input type="number" required placeholder="mobile number" name="number" id="">
                <input type="text" required placeholder="branch" name="branch" id="">
                <input type="submit" value="Submit" id="submit">
            </form>
        </div>
    </div>

</body>

</html>