<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department</title>
    <link rel="stylesheet" href="/stylesheet/department.css">
</head>

<body>
    <%- include("../views/partial/navbar.ejs")%>
        <div class="department">

            <h1>Currently we are dealing with four Departments</h1>
            <div class="list">

                <ul>
                   <li> <a href="#" >
                        Department of Basic Science and Humanities
                    </a></li>

                    <li><a href="#" >
                        Department of Computer Science & Engineering
                    </a></li>

                    <li><a href="#" >
                        Department of Electronics & Communication Engineering
                    </a></li>

                    <li><a href="#" >
                        Department of Mechatronics Engineering
                    </a></li>
                </ul>
            </div>

        </div>
        <div class="dept">
            <h1>Department of Basic Science and Humanities</h1>
            <p>
                Knowledge in basic science forms the fundamentals of almost every engineering and technical courses. Value-based education, communication and management skills are essential to provide a finishing touch to a budding engineer. IIIT Bhagalpur is currently running UG (B.Tech.) programs in Computer Science and Engineering, Electronics and Communication, and Mechatronics Engineering. All of these curricula need some common courses in Mathematics, Physics, Humanities and Management as essential components. The Department of Basic Science and Humanities was formed in 2019 to cater to these needs under a single umbrella of departmental structure. Well-experienced and highly qualified faculty members of the department aspire to make consistent and fruitful efforts to improve the students learning, research and development processes. In addition to the common courses for various streams in UG engineering, the department will also like to float elective courses in Mathematics and Physics in order to support the whole UG curriculum. In future, the department aspires to start PhD programs in selective specializations.
            </p>
            <h1>Department of Computer Science & Engineering</h1>
           <p>
            The department of Computer Science and Engineering (CSE) at the Indian Institute of Information Technology Bhagalpur, Bihar was established in the year 2017. The department is currently offering the degree of Bachelor of Technology (B.Tech.) in Computer Science and Engineering. The programme aims to provide core concepts and skills in the area of Computer Science and Engineering supported by practicums. The course structure of the department offers core computer science subjects in the early semesters which allows the students to master the subjects and carry out projects and research in their interested areas starting from the third year. The programme also includes different subjects in mathematics, basic science, engineering and humanities which enable students to explore the wider applications of information technology.
<br>
Our faculty members aim at delivering top class education blending their rich research experience with classroom teaching. The main goal of the faculty members is to impart theoretical and practical knowledge to students and help them to fit into industry, research and pursue higher studies. The Department has state-of-the-art infrastructure and computing equipment supported by high speed Ethernet and wireless networks. The future direction of the department includes the proposal to start M.Tech. and Ph.D. programmes in Computer Science and Engineering with various specializations.
           </p>
           <h1>Department of Electronics & Communication Engineering</h1>
           <p>
            The Department of Electronics and Communication Engineering (ECE) has been evolving since the inception of IIIT Bhagalpur in the year 2017. This department is developed in response to the needs of industry, this course will give you advanced level knowledge and skills in the design of complex electronic and communication systems. The major objective of the department is to impart high-quality education and to encourage the students in pursuing research.

The students of this department are highly competent and ever enthusiastic. We combine theory with practical and project work about advanced technology helping our students to work at the forefront of all the major areas of electronic engineering. Since we have a teaching style that is research-led, the latest and pioneering technologies will be taught as part of the course. We aim to produce graduates who high-tech, greatly sought-after professionals with specialist understanding and skills in communication, but who also have a firm knowledge of electronic engineering as a whole. The unique blend of CSE and ECE have made our students competent to face the tough challenges of ECE branch with emphasis on Communications, Digital Signal Processing, Microelectronics, VLSI, IoT & Embedded Systems, Image Processing and Computer Vision, Microwave Engineering Robotics coupled with coding and other IT perspectives. Our department has great infrastructure and facilities to bring practical knowledge at par with the global competitive environment.
           </p>

           <h1>Department of Mechatronics Engineering</h1>
           <p>
            Indian Institute of Information Technology Bhagalpur started functioning from August, 2017 with two departments, namely, Computer Science Engineering and Electronics and Communication Engineering. However, a synergetic integration of electronics with mechanical engineering along with intelligent computer control is required for improving the functionality, productivity and efficiency in design and manufacturing of products. This calls for the introduction of Mechatronics Engineering branch at IIIT Bhagalpur.

The program combines mechanical design, manufacturing, automation and electrical/ electronics control within a foundational context of design and manufacturing. Degree holders under the discipline will have the opportunity to work in various sectors, viz., aviation, electronics, automobile, manufacturing, oil and gas, mining, transport, defence, robotics and aerospace industries from pursuing higher degree.

The following are the objectives of the proposed degree:

The program will produce graduates that are prepared for successful careers in the area associated with the analysis, applied design, development, implementation, and oversight of electro-mechanical, mechatronics, robotics and automation systems.
The program will prepare graduates that advance in their careers and continue their professional development.
The program will prepare graduates that understand the overall human context in which engineering technology activities take place.
           </p>

        </div>
        <%- include("../views/partial/footer.ejs")%>
</body>

</html>