<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-college management system</title>

</head>
<link rel="stylesheet" href="/stylesheet/index.css">

<body>
   
    <%- include("../views/partial/navbar.ejs")%>
        <div class="image">

            <img src="/static/build.jpeg" alt="">

        </div>
    <%- include("../views/partial/footer.ejs")%>   

</body>

</html>