<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-college</title>
</head>
<link rel="stylesheet" href="/stylesheet/student.css">
<body>
    <%- include("../views/partial/navbar.ejs")%>
    <div class="admin">
        <div class="formContainer">
            <h1>Student Login</h1>
            <div class="form">

                <input type="text" placeholder="enter username " name="username" id="username">
                <input type="password" name="password" id="password" placeholder="enter password">

            </div>
            <div class="button">
                <button>
                   login
                </button>
            </div>
            <span>Forget password?</span>
        </div>



    </div>


    <%- include("../views/partial/footer.ejs")%>
    
</body>
</html>