<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/stylesheet/footer.css">
<body>
    <div class="footer">
        <div class="contact">
            <a href="https://www.facebook.com/iiitbh.ac.in" target="_blank"> <img src="/static/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/iiit_bhagalpur_official/" target="_blank"> <img src="/static/insta.png" alt=""></a>
            <a href="https://twitter.com/iiitbhagalpur" target="_blank"><img src="/static/twitter.png" alt=""></a>
            <a href="https://www.iiitbh.ac.in/" target="_blank"><img src="/static/iiitbh.jpeg" alt=""></a>
        </div>
    </div>
</body>

</html>